<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>
  
  <body>
    
    <h1>Editing Book</h1>
    <div class="error-message">
      <% if @book.errors.any? %>
      <%= @book.errors.count %> error prohibited this book from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    
    <div class="form">
      <%= form_with model: @book, url:"/books/#{@book.id}", local:true do |f| %>
      <div class="edit title">
        <p>Title</p>
        <%= f.text_field :title %>
      </div>
      <div class="edit body">
        <p>Body</p>
        <%= f.text_area :body %>
      </div>
      <div class="edit submit">
        <%= f.submit "Update Book" %>
      </div>
    <% end %>
    </div>
    
    <%= link_to "Show", book_path %>
     | 
    <%= link_to "Back", books_path %>
    
  </body>
</html>