<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./../../assets/stylesheets/show.scss" />
    <title>Bookers</title>
  </head>
  <body>
    <div class="show-book">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <p>
        <strong>Title:</strong>
        <%= @book.title %>
      </p>
      <p>
        <strong>Body:</strong>
        <%= @book.body %>
      </p>
    </div>  
      
    <%= link_to "Edit", edit_book_path %>
       | 
    <%= link_to "Back", books_path %>
      
  </body>